body {
    margin: 10;
  }
  
  .hero-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: calc(100vh - 100px);
    margin-bottom: 50px;
    max-height: 400px;
  }
  
  .hero-image h2 {
    font-size: 2rem;
    color: white;
    text-shadow: 3px 0px black;
    padding: 20px 20px 20px 20px;
    text-align: center;
  }
  
  .gallery {
    padding: 10px 10px 10px 10px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 88%;
  }
  